# Temporários do Video Clipper
temp/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ambientes virtuais
venv/
.venv/
env/

# Distribuição e build
*.egg-info/
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/